.login{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(15,15,11,0.6);
    z-index: 10;
}